/* JavaFX CSS
 * Define rules to style the GUI components
 * @author cspeter
 */
.button {
     -fx-pref-width:150;
     -fx-pref-height:40;
     -fx-border-color: #4b6cd8;
     -fx-padding: 15 15 15 15;
     -fx-background-color:
        linear-gradient(from 0% 93% to 0% 100%, #108eb8 0%, #1b10b8 100%),
        #ff1200,
        #e8eaf2,
        radial-gradient(center 50% 50%, radius 100%, #108eb8, #1b10b8);
     -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
     -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-text-stroke: #ffdfb4;
    -fx-text-stroke-width: 3;
    -fx-font-family: "Cambria";
}

.screen-background {
	-fx-background-image: url("bg.png");
	-fx-text-fill: white;
}

.filter-gridpane {
	-fx-font: 16 arial;
}

.label {
    -fx-font-size: 12pt;
    -fx-font-family: "Helvetica";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.radio-button {
    -fx-font-size: 10pt;
    -fx-font-family: "Helvetica";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.radio-button .dot {
   -fx-padding: 3px;
}

.radio-button .radio{
   -fx-padding: 2px;
}


.chart-pie-label-line {
    -fx-stroke: rgb(136, 244, 245);
    -fx-fill: rgb(136, 244, 245);
}

.chart-pie-label { /*this is what you need for labels*/
    -fx-fill: rgb(136, 244, 245);
    -fx-font-size: 1.2em;
}

.chart-legend-item{
    -fx-text-fill: black;
}

.menu-title {
	-fx-font-size: 30;
	-fx-text-fill: rgb(255, 238, 205);
	-fx-font-weight: bold;
	-fx-font-family:"Courier New";
	-fx-padding: 5px;
}

.list-view {
    -fx-background-color:rgba(255, 238, 205, 0.5);
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: white;
}

.list-cell:even { /* <=== changed to even */
    -fx-background-color: white;
}

.list-cell:filled:hover {
    -fx-background-color: #0093ff;
    -fx-text-fill: white;
}

.splitfilter_btn{
    -fx-pref-width:80;
    -fx-pref-height:30;
    -fx-padding: 3 5 3 5;
    -fx-border-color: #b83911;
    -fx-background-color:
        linear-gradient(from 0% 93% to 0% 100%, #f10400 0%, #6b0000 100%),
        #ff1200,
        #ffd59a,
        radial-gradient(center 50% 50%, radius 100%, #f10400, #6b0000);
     -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-text-fill: white;
    -fx-text-stroke: #ffdfb4;
    -fx-text-stroke-width: 3;
    -fx-font-family: "Cambria";

}

.table-view{
    -fx-background-color: transparent;
}

.table-view > .column-header-background {
    -fx-background-color: transparent;
}

.table-view > .column-header-background > .filler {
    -fx-background-color: transparent;
}

.table-view .column-header .label {
     -fx-text-fill: black;
}



